[submodule "CVAE_efficient_sampling"]
	path = CVAE_efficient_sampling
	url = git@github.com:giovannilucente/CVAE_efficient_sampling.git
[submodule "C_Planner/Recorder4Cpp"]
	path = C_Planner/Recorder4Cpp
	url = git@github.com:wenguang1111/Recorder4Cpp.git
